.panel-body {
    text-align: center;
    background: lightgrey;
    padding-top: 10px;
    border: solid whitesmoke 10px;
}
#startButton{
    padding: 20px;
    
}

body{
    background-image: url('')
}
/* .page-header{
    height: 20px;
} */

